template(name="CustomersEdit")
  .row
    .col-md-12
      h2 Customer Update - {{item.name}}
  
      +autoForm(
        collection="Customers"
        doc=item
        id="updateCustomer"
        type="update"
        class="form-horizontal"
      )
        +customerBaseField(field='name')
        +customerBaseField(field='location')
        .form-group
          .col-sm-1
          .col-sm-2
            button.btn.btn-primary(type="submit") Update
            a.btn.btn-default(href="{{pathFor route='customers.detail' data=docPath}}") Cancel

  .row(style="margin-top:30px")
    .col-md-8
      +unitTable(units=item.units root=item)
