template(name="CustomersEdit")
  .row
    .col-md-12
      h2 Customer Update - {{item.name}}
  
      +autoForm(
        collection="Customers"
        doc=item
        id="updateCustomer"
        type="update"
        class="form-horizontal"
      )
        +customerBaseField(field='name')
        +customerBaseField(field='location')
        .form-group
          .col-sm-1
          .col-sm-2
            button.btn.btn-primary(type="submit") Update
            a.btn.btn-default(href="{{pathFor route='customers.detail' data=docPath}}") Cancel

  .row(style="margin-top:30px")
    .col-md-8
      +unitTable(units=item.units)

    .col-md-4
      +autoForm(
        schema="Unit"
        doc=selectedUnit
        id="updateUnit"
        type="normal"
        class="form-horizontal"
      )
        +unitBaseField(field='serialNumber')
        +unitBaseField(field='typeID')
        .form-group
          .col-sm-4
          .col-sm-8
            button.btn.btn-primary#unitUpdate(type="submit")
              if selectedId
                | Update
              else
                | Add
            if selectedId
              a.btn.btn-danger#unitDelete Delete
            a.btn.btn-default#unitCancel Cancel
